:root {
    --main-color: #121212;
    --secondary-color: #74c5ce;
    --accent-color: #e6b760;
    --font-color: rgb(255, 255, 255);
}

.contact-tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    margin-top: 3rem;
    /* border: 1px solid lime; */
}



.contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    /* border: 1px solid red; */
}
.form-left {
    display: flex;
    flex-direction: column;
    /* border: 1px solid lime; */
    width: 50%;
    height: 100%;
}
.form-right {
   

}
label {
    margin: 12px;
    font-size: 1.2rem;
    font-family: 'Fira Mono', monospace;
    color: white;
}

input {
    font-size: 1.2rem;
    margin: 10px;
    font-family: 'Fira Mono', monospace;
    align-self: center;
}

textarea {
    font-size: 1.1rem;
    font-family: 'Fira Mono', monospace;
    align-self: center;
    margin: 10px;
    height: 70px;
    width: 300px;

}

button {
    font-size: 1.1rem;
    font-family: 'Fira Mono', monospace;
    align-self: flex-end;
    margin: 10px;

}

@media only screen and (max-width: 800px) {

    

}

@media only screen and (max-width: 480px) {

    .contact-form {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        /* border: 1px solid red; */
    }

    .form-right {
        /* border: 1px solid violet; */
        width: 85%;

    }
    .form-left {
        display: flex;
        flex-direction: column;
        /* border: 1px solid lime; */
        /* justify-content: flex-end; */
        align-items: flex-end;
        width: 25%;
        height: 100%;
    }
    textarea {
        font-size: 1.1rem;
        font-family: 'Fira Mono', monospace;
        align-self: center;
        margin: 10px;
        height: 70px;
        width: 250px;
    
    }

}

