:root {
    --main-color: #121212;
    --secondary-color: #74c5ce;
    --accent-color: #e6b760;
    --font-color: rgb(255, 255, 255);
}

/* ===============================generic header css==================================== */


.header-tab {
    /* display: flex;
    flex-direction: column; */
    background-color: var(--main-color);
    position: relative;
    width: 100%;
    height: 400px;
z-index: 10;

}
.title-tag-container {
    position: absolute;
    top: 0rem;
    /* border: 1px solid lime; */
    width: 100%;
    height: 400px;

}

.header-title-generic {
    margin-bottom: 0;
    font-size: 5rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, -1px -1px 0 #000000, 1px 0px 0 #000000, 0px 1px 0 #000000, -1px 0px 0 #000000, 0px -1px 0 #000000;
    font-family: 'Rubik Mono One', sans-serif;

    
}

.header-tag-generic {
    font-size: 3rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, -1px -1px 0 #000000, 1px 0px 0 #000000, 0px 1px 0 #000000, -1px 0px 0 #000000, 0px -1px 0 #000000;
    font-family: 'Rubik Mono One', sans-serif;

}

.header-img {
    object-fit: cover;
    width: 100%;
    height: 400px;
    }



.contact-button {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    left: 3rem;
    top: 20rem;
    height: 50px;
    width: 135px;
    position: absolute;
    font-size: 1.7rem;
    border: 1px solid rgb(255, 255, 255);
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: #12121280;
    transition: 100ms;
    border-radius: 5px;
}

.contact-button:hover {
    background-color: rgb(60, 89, 111);
}

    /* ============================== home header ============================================= */

.home-title {
    margin-top: 2rem;
    text-align: center;
    font-size: 3.8rem;
    /* border: 1px solid lime; */
    color: white;
    text-shadow: 2px 2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000, -2px -2px 0 #000000, 2px 0px 0 #000000, 0px 2px 0 #000000, -2px 0px 0 #000000, 0px -2px 0 #000000;
}

.home-tag {
    margin: 0;
    text-align: center;
    width: 100%;
    /* border: 1px solid lime; */
    font-size: 2rem;
    color: white;
    text-shadow: 2px 2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000, -2px -2px 0 #000000, 2px 0px 0 #000000, 0px 2px 0 #000000, -2px 0px 0 #000000, 0px -2px 0 #000000;
}

.home-header-img {
    object-position: top;
    box-shadow: 0px 10px 38px 8px #efd5a6ae;
    opacity: .9;
}

    /* ============================== studio
     header ============================================= */


.studio-title {
    margin-left: 20px;
    margin-bottom: 0px;
    text-shadow: none;
}

.studio-tag {
    width: 80%;
    margin-bottom: 500px;
    color: white;
    font-size: 1.4rem;
    line-height: 1.5;
    padding: 10px;
    text-shadow: none;
}

.studio-header-img {
    /* object-position: top; */
    box-shadow: 0px 10px 38px 8px rgb(175, 83, 52);

    opacity: .8;
    border-radius: 0;
}

    /* ============================== acoustics header ============================================= */


.acoustics-title {
    margin-left: 20px;
    text-shadow: none;
}

.acoustics-tag {
    width: 75%;
    color: white;
    font-size: 1.4rem;
    line-height: 1.5;
    padding: 10px;
    text-shadow: none;
}

.acoustics-header-img {
    box-shadow: 0px 10px 38px 8px rgba(255, 255, 255, 0.469);
    opacity: 1;
    border-radius: 0;
}

    /* ============================== live header ============================================= */

    .live-title {
    margin-left: 20px;
        text-shadow: none;
    }
    
    .live-tag {
        width: 65%;
        color: white;
        font-size: 1.4rem;
        line-height: 1.5;
        padding: 10px;
        text-shadow: none;
    }
    
    .live-header-img {
        box-shadow: 0px 10px 38px 8px rgba(224, 71, 247, 0.736);
        opacity: 1;
        border-radius: 0;
    }


    /* ========================= about page =================================== */

    .about-title {
        /* border: 1px solid red; */
        align-self: center;
        width: 90%;
}
.about-tag {
    width: 90%;
    text-align: center;

    }


    .about-header-img {
    box-shadow: 0px 10px 38px 8px #efd5a6ae;

    }

    /* ========================= contact page =================================== */

    .contact-title {
        text-align: center;
        text-shadow: 2px 2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000, -2px -2px 0 #000000, 2px 0px 0 #000000, 0px 2px 0 #000000, -2px 0px 0 #000000, 0px -2px 0 #000000;
    }
    .contact-tag {
        width: 90%;
        text-align: center;
        /* border: 1px solid red; */
    }
    
    .contact-header-img {
    box-shadow: 0px 10px 38px 8px #efd5a6ae;
        
    }



/* ================================ small screen css ====================================== */

@media only screen and (max-width: 800px) {

    .header-tab {
        height: 475px;
    }

    .title-tag-container {
        width: 100%;
        height: 475px;
        display: flex;
        flex-direction: column;
    
    }

    .header-title-generic {
        font-size: 4rem;
        text-align: center;
        margin-bottom: 50px;
        
      
    }
    
    .header-tag-generic {
        position: relative;
        font-size: 1rem;
        text-align: center;
        width: 88%;
        height: 80px;
        margin: 0 auto;
        padding: 20px;
        align-self: center;
    }

    .header-img {
        height: 100%;
        }

    .home-title {
      font-size: 3.0rem;
    }

    .home-tag {
        font-size: 1.6rem;
    }

    .studio-title {
        text-align: center;
        margin-left: 0px;
        text-shadow: none;
    }
    
    .studio-tag {
        text-align: center;
        margin: 0px;
    
        
    }
    
    .studio-header-img {
        /* object-position: top; */
        box-shadow: 0px 10px 38px 8px rgb(175, 83, 52);
        opacity: .8;
    }

    .acoustics-title {
        font-size: 3.8rem;
        text-align: center;
        margin-left: 0px;
        margin-bottom: 50px;
        text-shadow: none;
    }
    
    .acoustics-tag {
        text-align: center;
        margin: 0px;
        font-size: 1rem;
    }

    .live-tag {
        color: white;
        line-height: 1.5;
        padding: 10px;
        text-shadow: none;
    }

    .about-title {
        font-size: 2.8rem;
        align-self: center;
        width: 90%;
}

    .contact-title {
        font-size: 3.8rem;
        text-align: center;
        margin-left: 0px;
        margin-bottom: 50px;
        text-shadow: 2px 2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000, -2px -2px 0 #000000, 2px 0px 0 #000000, 0px 2px 0 #000000, -2px 0px 0 #000000, 0px -2px 0 #000000;
    }

    .contact-button {
        left: 3rem;
        top: 24rem;
        height: 50px;
    }

}

/* ===============================standard mobile css ================================================= */

@media only screen and (max-width: 480px) {

    .header-title-generic {
        font-size: 3rem;
      
    }
    
    .header-tag-generic {
        font-size: 1rem;
    }

    .home-title {
        font-size: 2.6rem;
        width: 100%;
        text-align: center;
    }

    .home-tag {
        font-size: 2rem;
        width: 95%;
    }

    .acoustics-title {
        font-size: 2.8rem;

    }
    .about-title {
        font-size: 2rem;
        align-self: center;
        width: 90%;
}

}

/* ===============================small mobile css ================================================= */

@media only screen and (max-width: 400px) {


    .home-title {
        font-size: 2.6rem;
        width: 100%;
        text-align: center;
    }

    .home-tag {
        font-size: 2rem;
        width: 95%;
    }
    
}