:root {
    --main-color: rgb(69, 69, 69);
    --secondary-color: rgb(92, 130, 160);
    --accent-color: orange;
}

.live-description-tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    height: 400px;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.live-description-title {
    color: var(--font-color);
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 1.7rem;
    margin-top: 6rem;
    width: 60%;
    /* border: 1px solid red; */
}

.live-description-text {
    font-size: 1.5rem;
    color: whitesmoke;
    /* font-family: 'Fira Mono', monospace; */
    font-family: 'Rubik', sans-serif;
    padding: 2rem;
    margin: 3rem;
    margin-top: 0rem;
}

@media only screen and (max-width: 800px) {

    .live-description-title {
        font-size: 1.3rem;
        width: 85%;
        
    }

    .live-description-text {
        font-size: 1.4rem;
        width: 90%;
    }

}