:root {
    --main-color: #121212;
    --secondary-color: #74c5ce;
    --accent-color: #e6b760;
    --font-color: rgb(249, 230, 206);
}

nav {
    display: flex;
    /* justify-content: flex-end; */
    height: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: var(--main-color);
    z-index: 11;
    /* border: 1px solid lime; */
   

}

.nav-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
    /* border: 1px solid white; */
}

.nav-link {
    text-decoration: none;
    margin: auto 1rem auto 1rem;
    color: var(--font-color);
    font-weight: bold;
    transition: 300ms;
}

.link {
    display: flex;
    height: 100%;
    /* border: 1px solid red; */

}

.drop-down {
    position: relative;
    /* border: 1px solid white; */
    height: 100%;
  }

  .drop-down-content {
      display: none;
      position: absolute;
      height: 45px;
      left: 0px;
      top: 80px;
      /* border: 1px solid white; */
      z-index: 11;
      /* box-shadow: inset -1px 3px 8px 5px #e6b76039, 2px 5px 16px 0px #0B325E, -15px 16px 3px 15px rgba(0,0,0,0); */
      background-color: #1212126d;

  }

  .drop-down:hover .drop-down-content {display: flex;}


  .studio-link-sub {
      font-size: .7rem;
  }

.nav-link:hover {
    /* color: #74a0ce; */
    text-shadow: 0 0 5px #74c5ce, 0 0 10px #74c5ce, 0 0 15px #74c5ce, 0 0 20px #ffffff, 0 0 30px #ffffff, 0 0 40px #ffffff, 0 0 55px #ffffff, 0 0 75px #ffffff;
}

.space {
    height: auto;
    width: 25%;
    /* border: 1px solid lime; */
}

.links {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    transition: 900ms;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 1rem;
    /* border: 1px solid lime */


}
#home-link {
    align-self: flex-start;
    font-size: 2.5rem;
    /* font-family: 'Bungee Inline', cursive; */
    font-family: 'Monoton', cursive;
}


.nav-menu {
    display: none;

}

.nav-menu:hover {
    color: var(--accent-color);

}

.selected-link {
    color: var(--accent-color);
}

/* ========================small screen css========================== */

@media only screen and (max-width: 800px) {

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* height: 20rem; */
        padding-left: 1rem;
        padding-right: 1rem;
        transition: 900ms;
        /* border: 1px solid lime; */
        z-index: -6;
    
    }

    .nav-main {
        /* border: 1px solid white; */
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        min-height: 5rem;
        width: 100%;
    }

    #home-link {
        margin: auto;
    }



    .menu-toggle-on {
        display: flex;
        flex-direction: column;
        height: 22rem;
        padding-left: 1rem;
        padding-right: 1rem;
        transition: 900ms;
    }

    .space {
        display: none;
    }

    .nav-menu {
        display: block;
        font-size: 2rem;
        color: var(--font-color);
        transition: 300ms;
        /* border: 1px solid red; */
    
    }


    .links {
        position: relative;
        display: flex;
        align-self: flex-start;
        align-content: center;
        flex-direction: column;
        width: 25%;
        margin-left: 15px;
        /* border: 1px solid yellow; */
    
    }

    .link {
        display: flex;
        height: 45px;
        
    }

    .drop-down {
      position: relative;
    }

    .drop-down-content {
        display: none;
        flex-direction: column;
        /* justify-content: flex-end; */
        position: absolute;
        height: 45px;
        left: 130px;
        top: 0px;
        background-color: transparent;

    }

    .studio-link-sub {
        font-size: 1rem;
        text-align: center;
    }

    .drop-down:hover .drop-down-content {display: flex;}

    .small-screen-on {
        transition-delay: 500ms;
        /* display: none; */
    
    }
    
    .nav-menu:hover {
        color: var(--accent-color);
    
    }


    .nav-link {
        margin-left: 30px;
    }

    .home-link {
        margin-left: 1rem;
    }

}

/* ===============================standard mobile css ================================================= */

@media only screen and (max-width: 480px) {

    nav {
        /* border: 4px solid lime; */
    }
    .nav-link {
        /* margin-left: 30px; */
    }

    .home-link {
        margin-left: 0px;   
    }

    .links {
        display: flex;
        /* align-self: flex-start; */
        align-content: center;
        flex-direction: column;
        width: 100%;
        /* margin-left: 15px; */
        /* border: 1px solid yellow; */
    
    }

    .link {
        display: flex;
        height: 45px;
        /* border: 1px solid red; */
        align-self: flex-start;
    }

    .drop-down {
      position: relative;
      /* border: 1px solid white; */
    }


    .drop-down-content {
        position: absolute;
        margin-left: 45px;
        display: flex;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: center;
        flex-direction: column;
        height: 14.5rem;
        width: 135%;
        z-index: 0;
        /* border: 1px solid rgb(29, 48, 255); */

    }

    .drop-down-space {
        display: flex;
        height: 45px;
        align-self: flex-end; 
    }

    .studio-link-sub {
        font-size: 1rem;
        display: flex;
        height: 45px;
        /* border: 1px solid red; */
        align-self: flex-end;
    }




}

/* ===============================small mobile css ================================================= */

@media only screen and (max-width: 400px) {


    .link {
        font-size: .9rem;
    }


    .drop-down-content {
        margin-left: 15px; 
    }


    .studio-link-sub {
        font-size: .9rem;
        display: flex;
        height: 45px;
        /* border: 1px solid red; */
        align-self: flex-end;
    }


    
}

