:root {
    --main-color: #121212;
    --secondary-color: #74c5ce;
    --accent-color: #e6b760;
    --font-color: rgb(249, 230, 206);
}

nav {
    display: flex;
    /* justify-content: flex-end; */
    height: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: var(--main-color);
    z-index: -6;
   

}

.nav-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    margin: auto 1rem auto 1rem;
    color: var(--font-color);
    font-weight: bold;
    transition: 300ms;
}

.nav-link:hover {
    /* color: #74a0ce; */
    text-shadow: 0 0 5px #74c5ce, 0 0 10px #74c5ce, 0 0 15px #74c5ce, 0 0 20px #ffffff, 0 0 30px #ffffff, 0 0 40px #ffffff, 0 0 55px #ffffff, 0 0 75px #ffffff;
}

.space {
    height: auto;
    width: 25%;
    /* border: 1px solid lime; */
}

.links {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    transition: 900ms;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 1rem;


}
#home-link {
    align-self: flex-start;
    font-size: 2.5rem;
    /* font-family: 'Bungee Inline', cursive; */
    font-family: 'Monoton', cursive;
}


.nav-menu {
    display: none;

}

.nav-menu:hover {
    color: var(--accent-color);

}

.selected-link {
    color: var(--accent-color);
}


@media only screen and (max-width: 800px) {

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* height: 20rem; */
        padding-left: 1rem;
        padding-right: 1rem;
        transition: 900ms;
        /* border: 1px solid lime; */
        z-index: -6;
    
    }

    .nav-main {
        /* border: 1px solid white; */
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        min-height: 5rem;
        width: 100%;
    }

    #home-link {
        margin: auto;
    }



    .menu-toggle-on {
        display: flex;
        flex-direction: column;
        height: 22rem;
        padding-left: 1rem;
        padding-right: 1rem;
        transition: 900ms;
    }

    .space {
        display: none;
    }

    .nav-menu {
        display: block;
        font-size: 2rem;
        color: var(--font-color);
        transition: 300ms;
        /* border: 1px solid red; */
    
    }

    .links {
        display: flex;
        flex-direction: column;
        width: 100%;
        /* border: 1px solid yellow; */
    
    }

    .small-screen-on {
        transition-delay: 500ms;
        /* display: none; */
    
    }
    
    .nav-menu:hover {
        color: var(--accent-color);
    
    }


    .nav-link {
        margin-left: 30px;
    }

    .home-link {
        margin-left: 1rem;
    }

}

