:root {
    --main-color: #121212;
    --secondary-color: #74c5ce;
    --accent-color: #e6b760;
    --font-color: rgb(255, 255, 255);
}

.social-tab {
    background-color: #152e45;
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
    color: var(--font-color);
    font-family: 'Fira Mono', monospace;

}

.all-social-icons {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-evenly;
}

.social-icon1 {
    color: #FF0000;
    font-size: 11rem;
}

.social-img {
    height: 185px;
    width: 185px;
    border-radius: 25%;
    object-fit: cover;
    margin: 2rem 0;
    margin-bottom: 4rem;
    transition: 300ms;

}

.social-img:hover {
    opacity: 0.6;
box-shadow: 5px 5px 25px 5px rgb(255, 255, 255);
}


/* ========================small screen css========================== */

@media only screen and (max-width: 800px) {

}


/* ===============================standard mobile css ================================================= */

@media only screen and (max-width: 480px) {

    .social-img {
        height: 85px;
        width: 85px;
        border-radius: 25%;
        object-fit: cover;
        margin: 2rem 0;
        margin-bottom: 4rem;
        transition: 300ms;
    
    }

    .social-img:hover {
        opacity: 1;
    box-shadow: none;
    }

}

/* ===============================small mobile css ================================================= */

@media only screen and (max-width: 400px) {

}