:root {
    --main-color: rgb(69, 69, 69);
    --secondary-color: rgb(92, 130, 160);
    --accent-color: orange;
}

.work-examples-tab {
    background-color: rgba(92, 130, 160, 0.345);
    /* margin-bottom: 205px; */
    font-family: 'Fira Mono', monospace;

}

.spotify-tab {
    /* border: 1px solid lime; */
    display: flex;
    height: 50%;
    padding: 50px 0;

}

.youtube-tab {
    display: flex;
    height: 50%;
    padding: 50px 0;
}

.info-tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid black; */
    width: 50%;
    
}

.info-title {
    font-size: 3rem;
    color: white;   
}

.info-description {
    /* border: 1px solid violet; */
    width: 75%;
    font-size: 1.3rem;
    text-align: center;
    color: white;
}

.embedded-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

iframe {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;

}

@media only screen and (max-width: 700px) {

    .spotify-tab {
        display: flex;
        flex-direction: column;

        width: 99%;
  
    
    }

    .youtube-tab {
        display: flex;
        flex-direction: column;
        height: 50%;
        width: 99%;
        padding: 50px 0;
    }

    .info-tab {
        width: 100%;
        
    }

    .embedded-tab {
        width: 100%;
    }


 }


